<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtual_sketch_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.ar"/>

    <application>
      <meta-data android:name="com.google.ar.core" android:value="required"/>
    </application>
</manifest>
